@font-face {
  font-family: "Nimbus Heavy";
  src: url("./Font/urw_-_nimbussannov-lig-sembol.woff2");
}

.nimbus-heavy {
  font-family: "Nimbus Heavy";
  font-weight: 900;
}

#pgc-1000-1-1 {
  margin: 40px 0px;
}

.flex-pos {
  display: flex;
}

.flexbox-pos {
  display: inline;
}

.bold {
  color: #000;
  font-size: 20px;
  /* text-decoration: underline; */
}

/* icons */
.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  /* margin: 5px 2px; */
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #2d6aee;
  color: white;
}

.fa-instagram {
  background: #ff20f4;
  color: white;
}
/* icons */

@media (max-width: 1000px) and (min-width: 100px) {
  #pgc-1000-1-1 {
    margin: 40px 0px;
  }
  .align-left {
    text-align: left;
  }

  .fa-instagram {
    /* left: 95%; */
    position: relative;
    text-align: center;
    justify-self: center;
    /* right: 25%; */
  }
}
